/*
 * Saved Tweets Section 
 */

.tweet {
  flex-direction: row;
  
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.small-icon {
  display: flex;
  flex-direction: row;
  font-family: 'Permanent Marker', cursive;
  
}



.middle {
  font-family: "Source Sans Pro", sans-serif;
  display: flex;
  align-content: flex-start;
  border-bottom: 1px solid #232323;
  padding-left: 2%;
  padding-bottom: .25em;
}

.footer {
  display: flex;
  justify-content: space-between;
  
}

#tweets-container {
  background-color: rgb(127, 225, 255);
  border: 3px solid #232323;
  border-radius: 20px;
  padding-top: .5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-bottom: .5em;
  font-size: 24px;
  margin: 1em 0 1em 0;
  width: 80%;
  display: flex;
  flex-direction: column;
  font-family: 'Bungee', cursive;
}